#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#ExampleDiv {
    line-height:30px;
    height:300px;
    width:600px;
    float:left;
    padding:5px;
}
#ScoreDiv {
    line-height:30px;

    height:300px;
    width:600px;
    float:left;
    padding:5px;
}

#playerCanvasScroller {
	overflow: auto;
	overflow-y: hidden;
}

#exampleCanvasScroller{
	overflow: auto;
	overflow-y: hidden;
}

#capacity {
  color: red;
}

#blocklyDiv {
  height: 300px;

}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  margin-top: 0;
}

html[dir="RTL"] .farSide {
  text-align: left;
}
.tab {
  padding: 6px 12px;
  text-decoration: none;
  color: #000;
}
#selected {
  font-weight: bold;
  background-color: #ddd;
  border-radius: 20px;
}

